@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,200&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*stilysation du header et de la header nav*/
*{
    box-sizing: border-box;
}
header{
   
    background-color:#000;
    background-image: linear-gradient(to right,black,red,black);
    opacity: 0.90;
    color: #fff;
    align-items: center;
    
    
    
}

header *{
    display: inline-block;

}
header div.img-header img{
    width: 100px;
    height: 75px;
   border-radius: 25px;
}
header h1{
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    position: absolute;
    top: -15px;

}
header .header-nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 0;
}
header .header-nav li{
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
   margin-left: 50px;
  
   
}
header .header-nav li a{
    text-decoration: none;
    color: #fff;
}
header .header-nav li a:hover{
    border-bottom: 2px solid rgb(241, 210, 210);
}
/*stylisation de la partie section principale*/
section.main {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 30px;
    margin: 4%;
    
}
section.main >h4{
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
    background-color: #fff;

    
}
section.main section.About >a >h3{
    font-size: 1.5em;
    text-decoration: underline;
}
section.main section.About a ~ p{
    color:#808080;
    line-height: 2em;
    text-align: justify;
    text-indent: 1.6em;

    
}
/*partie formulaire*/
form{
    background-color: #FF0000;
    padding-left: 10px;
    border: 2px solid red;
    border-radius: 15px;
    
    
}
form div.left-side a{
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: white;

}
#separation{
    border-bottom: 3px solid white;
    margin-right: 10px;

   
}
form div.left-side div.champs {
    display: inline;
    padding-top: 15px;
}
form div.left-side div.champs label[for="name"],label[for="email"],label[for="pass"],label[for="age"],label[for="tel-number"]{
    display: block;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-weight: 600;

}
form div.left-side div.champs input[type="text"],input[type="email"],input[type="number"],input[type="password"],input[type="tel"]{
    width: 90%;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
   
    
}
form div.right-side{
    margin-top: 15px;

}
form div.right-side textarea{
    display: block;
    
    width: 90%;
    border-radius: 10px ;
}
form div.right-side button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    
    
   
}
form div.right-side button[type="submit"],button[type="reset"]{
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    width: 50%;
    
    
   
    
}
form div.right-side button:hover{
    cursor: pointer;
    background-color: #FF0000;
}
/*partie fotter*/
footer{
    background-color: #000;
    background-image: linear-gradient(to top right ,black,red,black);
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 0;
}




